{% extends 'base.html.twig' %}

{% block title %}Personnels{% endblock %}

  {% block liItem0 %}
      <a class="nav-link text-dark  " href="/base"><i class="fad fa-home-alt"></i> </a>
  {% endblock %}
 {% block liItem1 %}
     <a class="nav-link  text-dark" href="/houses">Maisons</a>
 {% endblock %}
{% block liItem2 %}
    <a class="nav-link text-dark  " href="#"> Caisse</a>
{% endblock %}
 {% block stylesheets %}
     <style>
         main {

         }
         .cont {
             display: flex;
         }

         .input {
             flex: 1;

         }
         ::placeholder{
             font-size: small;
         }
         .display-4{
             font-family: 'EB Garamond', serif;
         }
     </style>
 {% endblock %}

{% block body %}

    <main >
        <hr style="margin-top: 0;   margin-bottom: 1.8rem;">

        <div class="jumbotron jumbotron-fluid" style="background-image: url('menage.jpg'); background-size: 100% ;
background-color: rgba(0,0,0,.25); background-blend-mode: overlay; height:250px">
            <div class="container">
                <h1 class="display-4 text-center "style="color:WHITE"  ><b>PERSONNELS</b></h1>
                {#                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>#}
            </div>
        </div>
        <hr style="margin-bottom: 1.8rem; ">
        <div class="row">
            <div class="col-2 " >

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 bg-white shadow" style=" margin-left: 15px; border-radius: 20px 20px">
                            <p class=" text-center btn-link text-dark" style="margin-top:10px"><i class="fas fa-plus"></i> Ajout </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 bg-white shadow" style="margin-left: 15px; margin-top:10px; border-radius: 20px 20px">
                            <p ><i class="fas fa-search"></i> Chercher </p>

                            {{ form_start(form) }}
                            {{ form_end(form) }}

{#                               <label class="small">Nom ou Prenom :#}
{#                                <input type="email" class="form-control input" id="email">#}
{#                                </label>#}
{#                            <label class="small">Travail :#}

{#                                <input type="email" class="form-control input"  id="email" ></label>#}

{#                            <label class="small">CIN :#}
{#                                <input type="email" class="form-control input " id="email" >#}
{#                            </label>#}
{#                            <br>#}
{#                            <a href="#" class="btn-warning float-right btn btn-sm" style=" margin-bottom: 15px;margin-top: 15px">#}
{#                                <i class="fas fa-search  search"  ></i>#}
{#                                chercher</a>#}

                        </div>


                        <br>
                    </div>



                </div>
            </div>
            <div class="col-9">
                <div class="container-fluid">

                    <div class="row">

                        {% for worker in workers %}
                        <div class="col">
                            <div class="card " style="width: 15rem;  margin-bottom: 20px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ worker.name}}</h5>
                                    <p class="small" style="color:grey">{{ worker.age }}ans</p>
                                    <hr>
                                    <h6 class="card-text" style="height: 50px">{{ worker.job }}</h6>
                                    <p class="card-text"><i class="fas fa-file-signature"></i> {{worker.contractType}}</p>
                                    <hr >
                                    <p class="card-text"><i class="far fa-id-card bg-light"></i> {{ worker.cin }}</p>
                                    <p class="card-text"><i class="fas fa-phone-square-alt"></i> {{ worker.NumTel}} </p>
                                    <p class="card-text" style="height: 50px"><i class="fas fa-map-marker-alt"></i> {{ worker.adr }}</p>
                                    <p class="card-text"><i class="far fa-calendar-alt"></i> {{ worker.birthday | date}}</p>

                                    <a href="#" class="btn btn-sm btn-light smaller"
                                       style="width:10rem; margin-top:4px; border-radius: 20px 20px">
                                        <i class="fas fa-download small"></i> Bultain de paie</a>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        </div>
<div class="container">
    <div class="row">
        <div class="col float-right">
            {{ knp_pagination_render(workers) }}
        </div>
    </div>
</div>

    </main>
{% endblock %}